<div class="container">
    <h1 class="pageheading" @slideIn>CONTACT US</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-12">
            <img class="contactsplash" src="../src/assets/images/contact/1.jpg" @fade>
        </div>

    </div>
    <div class="row extraspaceddiv">
        <div class="colhead" @fadelater>
            "Excellent Customer Support is one of the key principles of Serendipity and we're just too good at it"
        </div>
    </div>
</div>
<div class="container-fluid seconddiv" @fadelater>
    <div class="spacediv text-center" >
        <div class="row extraspaceddiv rowhead">
            REACH US ON
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4 holder">
                <i class="fa fa-phone icos fa-4x"></i>
                <div class="wrapper">
                    +91-9995556663
                </div>
            </div>
            <div class=" col-md-4 holder">
                    <i class="fa fa-at icos fa-4x"></i>
                    <div class="wrapper">
                      Support@Serendipity.com
                    </div>
                </div>
        </div>
    </div>
    <div class="row spacediv text-center" >
            <div class="row extraspaceddiv rowhead">
                LOCATE US HERE
            </div>
            <img class="contactsplash" src="../src/assets/images/contact/2.jpg">
            <!-- in progress -->
        </div>
</div>