<div class="container">
        <h1 class="pageheading">OUR APPLIANCES</h1>
        <div class="container">
                        Have a look at our collection :
                        <div class="row">
        
                                <div class="col-md-4 outerbox" *ngFor="let temp of temps">
                                        <div class="repeaterbox">
        
                                        </div>
                                </div>
                        </div>
        
                </div>
</div>