*{
    color:black;
}
.navbar{
    background-image: linear-gradient(120deg, royalblue, dodgerblue,royalblue);
    margin: 0 0;
    width: 100%;
    display: inline-block;
    border: none;
}

.navbar ul{
    float: left;
    display: inline;
    margin: 5px;
    padding:0;
}

.brandlogo{
    float: left;
    height: 50px;
    width: 100px;
    display: inline-block;  
    margin-right:25%;
    background-color: red; 
}

li.navtab{
    list-style: none;
    height: 100%;
    display: inline-block;
    font-size: 2rem;
    padding: 10px 25px;
    line-height: 100%;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: color ease-out .4s;
}

li.navtab:hover{
    color:white;
}

.sumbmenuUl{
    display: none;
    color:black;
    z-index: 1;
    position: absolute;
    top:45px;
    background-color: dodgerblue;
}

li.navtab:hover .sumbmenuUl{
    display: block;
}

.fa-caret-down{
    transition: all ease .4s;
}

li.navtab:hover .fa-caret-down{
    color:white;
}

.submenuhover{
    padding: 15px 20px;
    border-bottom: 1px dotted white;
    transition: all ease .4s;
}

.submenuhover:hover{
    color:white;
}




.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height: 10%;
    background-image: linear-gradient(120deg, royalblue, dodgerblue,royalblue);
}

.footdiv{
    text-align: center;
    padding: 15px;
}

.socialicon{
	padding: 1px 7px;
	display: inline-block;
	color:salmon;
	font-size: 1.5rem;
	transition: all 0.4s ease;
	text-shadow: 0px 1px transparent;
}
.socialicon:hover{
	color:red;
	text-shadow: 0px 1px black;
}

.socialicon:visited{
	color:salmon;
}
