.navbar{
    background-image: linear-gradient(120deg, royalblue, dodgerblue,royalblue);
    margin: 0 0;
    width: 100%;
    display: inline-block;
    border: none;
}

.navbar ul{
    float: left;
    display: inline;
    margin: 5px;
    padding:0;
}

.brandlogo{
    float: left;
    height: 50px;
    width: 100px;
    display: inline-block;  
    margin-right:25%;
    background-color: red; 
}

li.navtab{
    list-style: none;
    height: 100%;
    display: inline-block;
    margin-left:30px;
    font-size: 2rem;
    padding: 10px;
    line-height: 100%;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: color ease-out .2s;
}

li.navtab:hover{
    color:white;
}

.sumbmenuUl{
    display: none;
    color:white;
    z-index: 1;
    position: absolute;
    top:45px;
    background-color: dodgerblue;
}

li.navtab:hover .sumbmenuUl{
    display: block;
}

.submenuhover{
    padding: 15px 20px;
    border-bottom: 1px dotted white;
}

