<div>
  <nav class="navbar">
    <div class="brandlogo">BRAND AREA</div>
    <ul>
      <li class="navtab">Home</li>
      <li class="navtab hovermenu">Our Services
          <i class="fa fa-caret-down"></i>
        <div class="sumbmenuUl">
          <li class="submenuhover">Apparels</li>
          <li class="submenuhover">Appliances</li>
          <li class="submenuhover">Lifestyle</li>
        </div>
      </li>
      <li class="navtab">Contact</li>
      <li class="navtab">About</li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
